main h1 {
    text-align: center;
    color: black;
    font-size: 3rem;
}

section {
    width: 85%;
    margin: 2rem auto;
}

section ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
    margin: 0 0;
    padding: 0;
    list-style: none;
}

.card-item {
    background-color: #333333;
    border-radius: 6px;
    overflow: hidden;
    margin-bottom: 10%;
}

.card-item img {
    height: 18rem;
    width: 100%;
    object-fit: cover;
}

.card-item-content {
    color: white;
    padding: 0 1rem 2.5rem 1rem;
    text-align: center;
}

.card-item-content a {
    background-color: teal;
    color: white;
    border-radius: 4px;
    padding: 0.5rem 1rem;
}

.card-item-content a:hover {
    background-color: teal
}

@media all and (max-width: 1000px) {
    section ul {
        grid-template-columns: 1fr 1fr;
    }
}

@media all and  (max-width: 481px) {
    section ul {
        grid-template-columns: 1fr;
    }

}
